[submodule "qtbase"]
	path = qtbase
	url = ../qtbase.git
	branch = 5.15.1
	status = essential
[submodule "qtdeclarative"]
	depends = qtbase
	path = qtdeclarative
	url = ../qtdeclarative.git
	branch = 5.15.1
	status = essential
[submodule "qtmultimedia"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtmultimedia
	url = ../qtmultimedia.git
	branch = 5.15.1
	status = essential
[submodule "qtlocation"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtlocation
	url = ../qtlocation.git
	branch = 5.15.1
	status = addon
[submodule "qtsensors"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtsensors
	url = ../qtsensors.git
	branch = 5.15.1
	status = addon
[submodule "qtwebchannel"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtwebchannel
	url = ../qtwebchannel.git
	branch = 5.15.1
	status = addon
