[submodule "qtbase"]
	path = qtbase
	url = ../qtbase.git
[submodule "qtsvg"]
	path = qtsvg
	url = ../qtsvg.git
[submodule "qtdeclarative"]
	path = qtdeclarative
	url = ../qtdeclarative.git
[submodule "qtactiveqt"]
	path = qtactiveqt
	url = ../qtactiveqt.git
[submodule "qtscript"]
	path = qtscript
	url = ../qtscript.git
[submodule "qtmultimedia"]
	path = qtmultimedia
	url = ../qtmultimedia.git
[submodule "qttools"]
	path = qttools
	url = ../qttools.git
[submodule "qtxmlpatterns"]
	path = qtxmlpatterns
	url = ../qtxmlpatterns.git
[submodule "qttranslations"]
	path = qttranslations
	url = ../qttranslations.git
[submodule "qtdoc"]
	path = qtdoc
	url = ../qtdoc.git
[submodule "qlalr"]
	path = qlalr
	url = ../qlalr.git
[submodule "qtrepotools"]
	path = qtrepotools
	url = ../qtrepotools.git
[submodule "qtwebkit"]
	path = qtwebkit
	url = ../qtwebkit.git
[submodule "qtwebkit-examples"]
	path = qtwebkit-examples
	url = ../qtwebkit-examples.git
[submodule "qtqa"]
	path = qtqa
	url = ../qtqa.git
[submodule "qtlocation"]
	path = qtlocation
	url = ../qtlocation.git
[submodule "qtsensors"]
	path = qtsensors
	url = ../qtsensors.git
[submodule "qtsystems"]
	path = qtsystems
	url = ../qtsystems.git
[submodule "qtfeedback"]
	path = qtfeedback
	url = ../qtfeedback.git
[submodule "qtdocgallery"]
	path = qtdocgallery
	url = ../qtdocgallery.git
[submodule "qtpim"]
	path = qtpim
	url = ../qtpim.git
[submodule "qtconnectivity"]
	path = qtconnectivity
	url = ../qtconnectivity.git
[submodule "qtwayland"]
	path = qtwayland
	url = ../qtwayland.git
[submodule "qtjsondb"]
	path = qtjsondb
	url = ../qtjsondb.git
[submodule "qt3d"]
	path = qt3d
	url = ../qt3d.git
[submodule "qtimageformats"]
	path = qtimageformats
	url = ../qtimageformats.git
[submodule "qtquick1"]
	path = qtquick1
	url = ../qtquick1.git
[submodule "qtgraphicaleffects"]
	path = qtgraphicaleffects
	url = ../qtgraphicaleffects.git
[submodule "qtquickcontrols"]
	path = qtquickcontrols
	url = ../qtquickcontrols.git
[submodule "qtserialport"]
	path = qtserialport
	url = ../qtserialport.git
[submodule "qtx11extras"]
	path = qtx11extras
	url = ../qtx11extras.git
[submodule "qtmacextras"]
	path = qtmacextras
	url = ../qtmacextras.git
[submodule "qtwinextras"]
	path = qtwinextras
	url = ../qtwinextras.git
[submodule "qtandroidextras"]
	path = qtandroidextras
	url = ../qtandroidextras.git
[submodule "qtenginio"]
	path = qtenginio
	url = ../qtenginio.git
