[submodule "qtbase"]
	path = qtbase
	url = ../qtbase.git
	branch = 5.6
	status = essential
[submodule "qtscript"]
	depends = qtbase
	path = qtscript
	url = ../qtscript.git
	branch = 5.6
	status = essential
