# This file holds all python3 packages need for a certain qt module
# When adding new packages here, first add a comment with the name of the module
# Then all the packages. Duplicates are wanted as every module should install
# all packages it needs and shouldn't depend on a package from another module
#
# qtinterfaceframework
antlr4-python3-runtime==4.9.2
argh==0.26.2
click==8.0.1
coloredlogs==15.0.1
humanfriendly==10.0
Jinja2==3.0.1
MarkupSafe==2.0.1
path.py==12.5.0
pathtools==0.1.2
PyYAML==5.4.1
six==1.16.0
typing==3.7.4
watchdog==2.1.5
