# This file holds all python3 packages need for a certain qt module
# When adding new packages here, first add a comment with the name of the module
# Then all the packages. Duplicates are wanted as every module should install
# all packages it needs and shouldn't depend on a package from another module
#
# qtivi
antlr4-python3-runtime==4.7.1
argh==0.26.2
click==6.7
coloredlogs==10.0
humanfriendly==4.15.1
Jinja2==2.10.3
MarkupSafe==1.0
path.py==11.0.1
pathtools==0.1.2
PyYAML==5.1
six==1.11.0
typing==3.6.4
watchdog==0.8.3
