# Python packages used to validate and audit Qt SBOM informaiton
spdx-tools>=0.8.0 ; python_version >= '3.9'
ntia-conformance-checker ; python_version >= '3.9'
sbomaudit ; python_version >= '3.9'
sbom2doc ; python_version >= '3.9'
reuse<=5.1.1 ; python_version >= '3.9'
cyclonedx-python-lib==11.0.0 ; python_version >= '3.9'
